mat-sidenav-container {
  height: 100%;
  padding: 0%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
  height: 100%;
}


.content {
  width: 20ch;
  height: 20ch;
  background-color: aqua;
  float: left;
}



/* ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  pointer-events: none; 
} */

/* for making back trop transparent, workes but color glitches when hiding the navbar */
/* ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  opacity: 0;
} */