<div id="objective">
  <div id="l1">
    <img class="icone" src="../../../assets/Images/icons8-goal-100.png" />
    <h3 id="obj_title">
      some objective
    </h3>

    
    <div id="l3">
      <img
        class="icone"
        id="avatar"
        src="../../../assets/Images/icons8-user-female-skin-type-5-96.png"
      />
      <p class="obj_progress">16<span id="obj_progress">%</span></p>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    
  </div>
  <div id="l2">
    <p id="owner">some owner</p>
  </div>
</div>




<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="objective">
  <img class="icone" src="../../../assets/Images/icons8-goal-100.png" />
  <h3 id="obj_title">some objective</h3>
  <img class="icone" id="avatar" src="../../../assets/Images/icons8-user-female-skin-type-5-96.png" />
  <p class="obj_progress">16<span id="obj_progress">%</span></p>
  <p id="owner">some owner</p>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</div> -->
