<!-- <div id="obj">
  <div id="l1">
    <div class="icone-title-wrapper">
      <img class="icone" src="../../../assets/Images/icons8-goal-100.png" />
      <span>Name</span>
    </div>

    <img
      class="icone"
      id="objAssigneeAvatar"
      src="../../../assets/Images/icons8-user-female-skin-type-5-96.png"
      alt="Avatar"
    />
    <div id="objProgress">
      <p>0</p>
      <p>%</p>
    </div>
    <app-dropdown-toggler> </app-dropdown-toggler>
  </div>
  <div id="l2">
    <p id="objOwnerName">I'm the owner</p>
  </div>
</div> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="objective">
  <img class="icone" src="../../../assets/Images/icons8-goal-100.png" />
  <h3 id="obj_title">some objective</h3>
  <img class="icone" id="avatar" src="../../../assets/Images/icons8-user-female-skin-type-5-96.png" />
  <p class="obj_progress">16<span id="obj_progress">%</span></p>
  <p id="owner">some owner</p>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</div>