::ng-deep :root {
    --br: 0.4em;
  }
  
  #keyresult {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: var(--br);
  
    font-size: 15px;
  max-height: 50px;
    width: 250px;
  }
  
  h3,
  p {
    font-size: 1em;
    /* padding: 0%;
    margin: 0%; */
  }
  #owner{
    position: absolute;
    font-size: 0.8em;
    top: 1.5em;
    left: 1.5em;
    color: #617294;
  }
  
  .icone {
    height: 1em;
    width: 1em;
  }
  
  .kr_progress {
    position: absolute;
    right: 2em;
  }
  
  #avatar{
    position: absolute;
    right: 4em;
  }
  
  button{
    position: absolute;
    right: 0.5em;
    
  }
  mat-icon{
    width: 4px;
  }