<div id="keyresult">
  <div id="l1"> 
      <img class="icone" src="../../../assets/Images/icons8-line-chart-64.png" />
      <p id="kr_title">some key result</p>


      <div id="l3">
        <img
          class="icone"
          id="avatar"
          src="../../../assets/Images/icons8-user-female-skin-type-5-96.png"
        />
        <p class="kr_progress">16<span id="kr_progress">%</span></p>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
      </div>
  </div>
    
    <div id="l2">
        <p id="owner">some owner</p>
    </div>
</div>
