#keyresult {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: var(--br);

  font-size: 15px;
  max-width: 18.75rem;
  /* max-height: 40px; */
}

#l1 {
  width: 250px;
  align-items: center;
  display: flex;
}

#l2 {
  width: 250px;
  margin: 0%;
}

#l3 {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  /* flex-direction: column;  */
}

h3,
p {
  font-size: 1em;
  padding: 0%;
  margin: 0%;
}
#kr_title {
  max-width: 60%;
  margin: 0em;
}

#owner {
  font-size: 0.8em;
  color: #617294;
  margin: 0%;
  margin-left: 10%;
}

.icone {
  height: 1em;
  width: 1em;
  margin-right: 00.5em;
}

/* .kr_progress {
  position: absolute;
  right: 2em;
  margin: 0%;
}

#avatar {
  position: absolute;
  right: 4em;
}

button {
  position: absolute;
  right: 0.5em;
}
mat-icon {
  width: 4px;
} */
