
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="keyresult">
  <img class="icone" src="../../../assets/Images/icons8-line-chart-64.png" />
  <h3 id="kr_title">some key result</h3>
  <img class="icone" id="avatar" src="../../../assets/Images/icons8-user-female-skin-type-5-96.png" />
  <p class="kr_progress">16<span id="obj_progress">%</span></p>
  <p id="owner">some owner</p>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</div>